<header xmlns="http://www.w3.org/1999/html">
  <mat-toolbar color="accent">
    <span style="padding-left: 15%;padding-right: 20%"><button mat-icon-button><mat-icon>restaurant</mat-icon></button> <button mat-icon-button><mat-icon>local_bar</mat-icon></button></span>

<span style="padding-right: 20%">
  <mat-form-field>
     <mat-icon>search</mat-icon>
    <input matInput>
  </mat-form-field>
</span>

    <button routerLink="/recipe" mat-icon-button>
      <mat-icon>home</mat-icon>
    </button>
    <button  *ngIf="afAuth.authState | async as user" mat-icon-button>
      <mat-icon matBadge="2" matBadgeColor="warn">favorite</mat-icon>    <!--  only logged user   -->
    </button>
    <button *ngIf="afAuth.authState | async as user" routerLink="/user-profile" mat-icon-button >
      <mat-icon   matBadgeColor="warn">account_circle</mat-icon> <!--  only logged user   -->
    </button>

    <button matTooltip="Logout" *ngIf="afAuth.authState | async as user"  routerLink="/recipe"  (click)="logout()" mat-icon-button> <!--  only logged user   -->
      <mat-icon> logout</mat-icon>
    </button>

    <button matTooltip="Login to post recipes" *ngIf="(afAuth.authState |async )===null" (click)="openSignUpDialog()" mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>

    <span  *ngIf="afAuth.authState | async as user" >{{user.displayName}}</span>

    <span *ngIf="(afAuth.authState | async)===null" >Guest</span>

  </mat-toolbar>
</header>




<div style="margin-left:95%;">
  <button  matTooltip="Coming Soon" mat-button color="accent" style="width: 100%">EN/PL</button>
</div>

<div fxLayout="row">

  <app-kitchen-list></app-kitchen-list>


<!--  <app-recipe-list></app-recipe-list>-->
  <router-outlet></router-outlet>



</div>

<footer>
  <mat-paginator [length]=1
                 [pageSize]=2
                 aria-label="Select page">
  </mat-paginator>
</footer>
