<div style="max-width:400px">

  <mat-card *ngIf="afAuth.authState | async as user"  style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button color="accent" (click)="openRecipeDialog()" style="width: 150px">
    <mat-icon>local_restaurant</mat-icon>
    <br>
    Post a Recipe
  </button>
  </mat-card>

<!--  <mat-card *ngIf="afAuth.authState | async as user" style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">-->
<!--    <button mat-button color="accent" (click)="openSmoothieDialog()" style="width: 150px">-->
<!--    <mat-icon>local_bar</mat-icon>-->
<!--    <br>-->
<!--    Post a Smoothie-->
<!--  </button>-->
<!--  </mat-card>-->

  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Turkish Kitchen
    </button>
  </mat-card>

  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Polish Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Italian Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      English Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      German Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      American Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Mexican Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Asian Kitchen
    </button>
  </mat-card>
  <mat-card style="width:150px; margin-left: 7%;margin-right: 50px;margin-top:5%">
    <button mat-button style="width: 150px">
      Spanish Kitchen
    </button>
  </mat-card>



</div>
